body{
    background-color: antiquewhite;
    margin: 40px;
}

h1{
    color: brown;
    text-align: center;
    font-size: 40px;
}

p{
    margin: 30px;
    font-size: 25px;
    text-align: center;
}

.recipe_list{
    margin: 20px;
    margin-left: 400px;
}

a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
}

button:hover {
    background-color: darkslategray;
}

button{
    background-color: olive;
    border: 4px solid darkolivegreen;
    margin: 10px;
    width: 350px;
    padding: 1em;
}

.home {
    color: darkred;
}